tqdm

numpy
scipy
einops
einop

jax[cuda12_pip]
jaxlib

gym==0.19.0
gymnax==0.0.6
distrax
flax
optax
brax

matplotlib
jupyter
jupyterlab


envpool==0.6.6 ; python_version >= "3.8" and python_version < "3.11"
procgen==0.10.7 ; python_version >= "3.8" and python_version < "3.11"
